@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}
.services {
  padding-top: 0;
}
.services-list {
    display: flex;
    justify-content: space-between;
  }
  .services-item {
    position: relative;
  }
  .services-title {
    position: absolute;
    bottom: 0;
    width: 370px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
    background-color: rgba(47, 48, 58, 0.8);
    padding-bottom: 27px;
    padding-top: 27px;
  }