:root {
    --text-color: #757575;
    --main-color: #ffffff;
    --second-back-color: #2f303a;
    --third-back-color: #c4c4c4;
    --accent-color: #2196f3;
    --icon-color: #afb1b8;
    --title-color: #212121;
    --btn-focus: #188ce8;
    --icon-background-color: #f5f4fa;
}